<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <title>AGS Deploy</title>
  </head>
  <body>
    <h1 class="text-center my-3">Bienvenue sur AGS Deploy</h1>

    <form method="GET">
      <div>
        <table id="listMachine" class="table"></table>
      </div>
      <br />
      <button
        class="btn btn-danger"
        id="pingSwitch"
        type="button"
        onclick="stopPing()"
      >
        Pinging OFF
      </button>

      <br /><br />

      <button class="btn btn-primary mx-5">Déployer</button>
    </form>
  </body>
  <script>
    /************************************************     CONSTANTES ET VARIABLES   *********************************************/

    const electron = require('electron');
    const { ipcRenderer } = electron;
    const listPing = require('../Data/ip_data.json');
    const listeMachine = document.getElementById('listMachine');
    const ping = require('net-ping');
    const session = ping.createSession({ timeout: 200, retries: 2 });
    const isDev = require('electron-is-dev');
    const form = document.querySelector('form');
    form.addEventListener('submit', submitForm);
    var checkedList = [];

    /************************************************    INITIALISATION DE LA PAGE   *********************************************/

    // Initialisation de la fonction Ping
    var shouldIPing = true;
    keepPinging();

    // Affichage de l'ensemble des machines
    var countMachine = 0;

    // Création du tableau d'affichage des machines
    var tableMachine = document.getElementById('listMachine');
    var header = tableMachine.createTHead();
    var headerTable = header.insertRow(0);
    var header1 = headerTable.insertCell(0);
    var header2 = headerTable.insertCell(1);
    var header3 = headerTable.insertCell(2);
    header1.innerHTML = '<b>Machine</b>';
    header2.innerHTML = '<b>Etat</b>';
    header3.innerHTML = '<b>Déployer</b>';
    header3.classList.add('mx-auto');

    listPing.forEach(ip => {
      var ligne = tableMachine.insertRow(countMachine + 1);
      var cell1 = ligne.insertCell(0);
      var cell2 = ligne.insertCell(1);
      var cell3 = ligne.insertCell(2);

      cell1.innerHTML = ip.nom;
      cell2.innerHTML =
        "<img class='theImage' id='img_reso" +
        countMachine +
        "' src='../Assets/Images/Load.gif' alt='icon' widdth='20' height='20'>";
      cell3.innerHTML = "<input type='checkbox'>";
      countMachine++;
    });

    if (isDev == false) {
      document.getElementById('pingSwitch').style.display = 'none';
    }

    /*********************************************************    FONCTIONS   *****************************************************/
    // Action sur bouton ON/OFF
    function stopPing() {
      var bouton = document.getElementById('pingSwitch');
      if (shouldIPing == true) {
        shouldIPing = false;
        bouton.className = 'btn btn-success';
        bouton.textContent = 'Pinging ON';
        setTimeout(function() {
          var Images = document.getElementsByClassName('theImage');
          for (var i = 0; i < Images.length; i++) {
            Images[i].src = '../Assets/Images/Load.gif';
          }
        }, 1600);
      } else {
        shouldIPing = true;
        bouton.className = 'btn btn-danger';
        bouton.textContent = 'Pinging OFF';
        keepPinging();
      }
    }

    // Le Ping se fait au bout de Xms puis la fonction se rappelle elle même
    async function keepPinging() {
      if (shouldIPing == true) {
        setTimeout(function() {
          listPing.forEach(ip => {
            var index = listPing.findIndex(obj => obj.ip == ip.ip);
            pingMonBro(ip, index);
          });
          keepPinging();
        }, 1000);
      }
    }

    // Fonction ping des machines, ajustement des icones ON/OFF
    function pingMonBro(ip, index) {
      session.pingHost(ip.ip, function(error, target) {
        if (error) {
          if (error instanceof ping.RequestTimedOutError) {
            //console.log (ip.nom + ": Not alive");
          } else {
            //console.log(target + " : " + error.toString());
          }
          document.getElementById('img_reso' + index).src =
            '../Assets/Images/off_icon.jpg';
        } else {
          document.getElementById('img_reso' + index).src =
            '../Assets/Images/on_icon.jpg';
        }
      });
    }

    // Récupération des machines séléctionnées
    function submitForm(e) {
      e.preventDefault();
      var checkedList = [];
      var checkboxes = document.querySelectorAll('input[type=checkbox]');
      for (i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked == true) {
          checkedList += i;
        }
      }
      ipcRenderer.send('action:deploy', checkedList);
    }
  </script>
</html>
